@model List<AppUser>
@{
    ViewData["Title"] = "Index";
    int order = 1;
}



<div class=""></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6"> <h1 class="text-success">Admin Table</h1></div>
        <div class="col-6 d-flex justify-content-end align-items-center">
            <div class="">
                <a asp-action="create" class="btn btn-outline-success">Add Admin</a>
                <a asp-action="addrole" class="btn btn-outline-warning">Add Role</a>
            </div>
        </div>
    </div>

   

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FullName</th>
                <th scope="col">UserName</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@order</th>
                        <td>@item.FullName</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-outline-warning w-50">Edit</a>
                            <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-outline-danger ">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

